My project/.idea/.idea.My project/.idea
My project/.vscode
My project/Assets/TextMesh Pro
My project/Library/Artifacts
My project/Library/Bee
My project/Library/BurstCache/JIT
My project/Library/GridBrush
My project/Library/PackageCache
My project/Library/PackageManager
My project/Library/PlayModeViewStates
My project/Library/Search
My project/Library/ShaderCache
My project/Library/StateCache
My project/Library/UIElements/EditorWindows
My project/Library/com.unity.ide.rider
My project/Library
My project/Packages
My project/Temp
